<div class="alert alert-success" role="alert" ng-if="changeSuccess">Покемон {{rePokemonId}}, модернизирован!</div>

<form name="rePokemonForm" novalidate>
    <div class="form-group">
        <label>ID</label>
        <input class="form-control" ng-model="idPokemon" type="text" placeholder="ID" required>
    </div>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="rePokemon.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" ng-model="rePokemon.weight" type="text" placeholder="Вес">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Активен
        </label>
    </div>
    <button type="submit" class="btn btn-default" ng-click="changePokemon(idPokemon, rePokemon)" ng-disabled="rePokemonForm.$invalid">Сохранить</button>
</form>
