<div class="media" ng-if="!pokemonsAndBerriesLoaded">
    <h4>Loaded...</h4>
</div>


<div class="row">
    <div class="col-md-8">

        <div class="list-group">
            <a href="#!/pokemons/{{singlePokemon.name }}" class="list-group-item" ng-repeat="singlePokemon in pokemons">

                <h4>
                    {{singlePokemon.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
    <div class="col-md-4">

        <div class="list-group">
            <div class="list-group-item" ng-repeat="singleBerry in berries">

                <h4>
                    {{singleBerry.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
</div>
